$american-orange: #fb8500;
$chinese-black: #343a40;
$davys-grey: #495057;
$light-gray: #ced4da;
$yankees-blue: #0081a7;
$bright-gray: #e9ecef;

$brand-title-color: $chinese-black;
$brand-strong-title-color: $yankees-blue;
$brand-subtitle-color: $american-orange;
$brand-text-color: $davys-grey;
$border-color: $light-gray;
$overlay-color: $bright-gray;
